Build/Library
Build/Temp
Build/Logs
Build/UserSettings
Build/Logs/
Build/Logs/AssetImportWorker1.log
Build/Logs/AssetImportWorker0-prev.log
Build/Logs/AssetImportWorker0.log
Build/Logs/AssetImportWorker1-prev.log
Build/Logs/AssetImportWorker1.log
Build/Logs/AssetImportWorker2.log
Build/Logs/shadercompiler-AssetImportWorker0.log
Build/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Build/Logs/AssetImportWorker0-prev.log
Build/Logs/AssetImportWorker0.log
Build/Logs/AssetImportWorker1-prev.log
Build/Logs/AssetImportWorker1.log
Build/Logs/AssetImportWorker2.log
Build/Logs/shadercompiler-AssetImportWorker0.log
Build/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Build/Logs/AssetImportWorker0-prev.log
Build/Logs/AssetImportWorker0.log
*.log
